[submodule "mujoco_playground"]
	path = mujoco_playground
	url = git@github.com:TetherIA/mujoco_playground_pr.git
[submodule "simulation"]
	path = simulation
	url = git@github.com:TetherIA/aero-hand-open-sim.git
